{% extends 'base_home.html' %}

{% block head %}
    <link href="{{ STATIC_URL }}css/payment.css" rel="stylesheet">
{% endblock head %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-6">
                <div class="form-group">
                        <p><label>Dear {{ username }}, you've successfully bought this game:</label></p>
                        <p><label>Game: {{ game.title }}</label></p>
                        <p><label>Category: {{ game.category.title }}</label></p>
                        <p><label>Description: {{ game.description }}</label></p>
                        <div class="wrapper">
                            <span class="group-btn">
                                <a href="/game/{{ game.id }}" class="btn btn-primary btn-md">Back To Game Page</a>
                                <a href="/game/play/{{ game.id }}" class="btn btn-primary btn-md">Play Game</a>
                            </span>
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body%}

