body {
background-color: #f6f6f6;
padding-top: 70px;
}
header .navbar-brand {
font-size: 1.4em;
font-weight: 200;
}

main .container {
margin-bottom: 2em;
border: 1px solid #ddd;
background-color: #ffffff;
padding-top: 1.2em;
padding-bottom: 1.2em;
border-radius: .3em;
box-shadow: 0 1px 3px #cccccc;
}

h2
{
    text-align: center;
}
